body {
  font-family: Poppins, sans-serif;
  background: #f4f6f8;
  margin: 0;
}


.movie{
    display: flex;
    /* justify-content: center; */
    overflow-x: scroll;
}

.card{
    border: 0.5rem solid #b3aeae;
    background-color: #b3aeae;
    text-align: center;
    margin-left: 0.39rem;
    border-radius: 10px;
}

.card h3{
    font-size: 1.5rem;
}

.images{
    height: 400px;

}